*, body, html{
    margin: 0;
    padding: 0;
}

.app-body{
    position: absolute;
    background-color: #E7E8E7;
    height: 100vh;
}

.search-bar{
    padding: 25px 0 50px 0;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.search-bar input{
    width: 100%;
    text-align: center;
}

.video-item img{
    max-width: 65px;
}

.video-detail{
    float: left;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #d8d8d8;
}

.media-body{
    padding-left: 10px;
    overflow: hidden;
}